<link rel="stylesheet" href="/css/skel.css" />
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/materialize.min.css" />

<nav>
    <div class="nav-wrapper">
    	
        <img src = "/images/logo.png" style="margin-top: 6px;">
        <a href="/" class="brand-logo">SHOP IT!</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/cart/">My Cart</a></li>
            <li><a href="/checkout/">Checkout</a></li>
            <li><a href="/logout/">Logout</a></li>
        </ul>
    </div>
</nav>

<%= user.address %>
<%= user.contact_no %>