<html>
<head>
<link rel="stylesheet" href="/css/skel.css" />
<link rel="stylesheet" href="/css/style.css" />
</head>

<body>
<form action="/add_item/" method="POST">
ITEM Name: <input type="text" name="name">  <br>
ITEM Image URL: <input type="text" name="photo">  <br>
Item Description: <input type="text" name="description">
<input type="submit" value="Submit">
</form>
</body>