<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon'/ >
<script src="/js/jquery-2.2.3.js"></script>

<title>Shop it</title>
</head>

<body>
    <%-body%>
</body>
		<footer class="page-footer grey darken-1" style="padding:0px;">
          <div class="footer-copyright" >
            <div class="container">
            © 2016 Copyright
            <a class="grey-text text-lighten-4 right" href="https://github.com/TeamSilverWing/Shop-It">
            	<img src="/images/github.png"/>
            </a>
            </div>
          </div>
        </footer>

</html>
