<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" media="screen" href="/css/styleCommon.css">
  <link rel="shortcut icon" type="image/png" href="/util/images/favicon.png">
  <meta charset="UTF-8">
  <title>Shop it</title>
</head>
<body>
    <%-body%>
</body>
</html>
