<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon'/ >
<script src="/js/jquery-2.2.3.js"></script>

<title>Shop it</title>
</head>

<body>
    <%-body%>
</body>

</html>
