<head>
	<link rel="stylesheet" href="/css/materialize.min.css" />
	<script type="text/javascript" src="/js/jquery-2.2.3.js"></script>
	<script type="text/javascript" src="/js/materialize.min.js"></script>
  </head>

  <body>
	<nav>
		<div class="nav-wrapper">
			<img src = "/images/logo.png" style="margin-top: 6px;">
			<a href="/" class="brand-logo">SHOP IT!</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/">Home</a></li>
			</ul>
		</div>
	</nav>

	 <div class="container">
		<div class="card hoverable" id ="card_item" style="padding:50px">
			<div class="row center-align">
				<div class="row">
				<%if (error!="") {%>
				<%= error %>
				<% } %>
				</div>
				<form class="col s6" id="myform1" action="/signup/" method="post">
					<div class = "row ">
						<h2> Sign Up </h2>
					</div>
					<div class="row">
						<div class="input-field col s6">
							<input id="name" type="text" name="first_name" class="validate">
							<label for="first_name">First Name</label>
						</div>
						 <div class="input-field col s6">
							<input id="photo" type="text" name="last_name" class="validate">
							<label for="photo">Last Name</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<select name="user_type" class="browser-default">
							  <option value="1" disabled selected>User Type</option>
							  <option value="1">Buyer</option>
							  <option value="2">Seller</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input id="username" type="text" name="username" class="validate">
							<label for="username">User Name</label>
						</div>  
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input id="password" type="password" name="password" class="validate">
							<label for="password">Password</label>
						</div>  
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input id="email" type="email" name="email" class="validate">
							<label for="email">Email</label>
						</div>  
					</div>

					<div class="row">
						<div class="col s6 center-align">
							<button class="btn waves-effect waves-light z-depth-3" type="submit">
								Signup
							</button>
						</div>
					</div>
				</form>

				<form class="col s6" id="myform2" action="/login_auth/" method="post">
					<div class = "row ">
						<h2> Login </h2>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input id="description" type="text" name="username" class="validate" autocomplete="off">
							<label for="description">User Name</label>
						</div>  
					</div>
					<div class="row">
						<div class="input-field col s12">
						   <input id="description" type="password" name="password" class="validate" autocomplete="off">
							<label for="description">Password</label>
						</div>  
					</div>
					<div class="row">
						<div class="col s6 center-align">
							<button class="btn waves-effect waves-light z-depth-3" type="submit">
								Login
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>