<form action="/login/" method="POST">
Enter your username : <input type = "text" name = "username"></input>
Enter your password : <input type="password" name="password"></input>
<button type = "submit">Log In</button>
</form>