<html>
<head>
<link rel="stylesheet" href="/css/skel.css" />
<link rel="stylesheet" href="/css/style.css" />
</head>

<!-- Header -->
			<div id="header">
				<div class="container">
						
						<img src = "/images/logo.png">
						<h1><a href="/" id="logo">SHOP IT</a></h1>
						<nav id="nav">
							<ul>
								<li><a href="#">Home</a></li>
								<li><a href="/catalogue/">Products</a></li>
								<li><a href="#about">About Us</a></li>
							</ul>
						</nav>
						<div id="banner">
							<div class="container">
								<section>
									<header class="major">
										<h2>Welcome to Shop-It</h2>
										<span class="byline">An e-commerce website to fulfill all your needs</span>
									</header>
									<a href="/login/" class="button alt">Sign Up/Login</a>
									<a href="/catalogue/" class="button alt">Browse Products</a>
								</section>			
							</div>
						</div>
				</div>
			</div>
<!-- End of header -->


<!-- Footer -->
			<div id="footer" style="background-color: #323232;width:100%;height:100%;">
				<div class="container" style="width:100%;height:100%;">
					<!-- Lists -->
						<div class="row">
							<div class="8u">
								<section>
									<header class="major">
										<h2>SHOP IT</h2>
										<span class="byline">An e-commerce website</span>
									</header>
									<div class="row">
										<section class="6u">
											<ul class="default">
												<li>Affordable Prices</li>
												<li>Best Quality</li>
												<li>On time Delivery</li>
											</ul>
										</section>
										<section class="6u">
											<ul class="default">
												<li>No Shipping Charges</li>
												<li>Best place to sell your products</li>
												<li>Easy Interface</li>
											</ul>
										</section>
									</div>
								</section>
							</div>
							<div class="4u">
								<section>
									<header class="major">
										<h2>Reach out for us!</h2>
									</header>
									<ul class="contact">
										<li>
											<span class="address">Address</span>
											<span>F-74, Govind Bhawan<br/> IIT Roorkee, Uttarakhand-247667</span>
										</li>
										<li>
											<span class="mail">Mail</span>
											<span><a href="#">shopit@gmail.com</a></span>
										</li>
										<li>
											<span class="phone">Phone</span>
											<span>(+91) 7895 1823 95</span>
										</li>
									</ul>	
								</section>
							</div>
						</div>

				</div>
			</div>
